@import "../../../public/styles/scss/app.scss";

.feed {
  &__content {
    height: 600px;
    overflow: auto;
    list-style-type: none;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 1rem;

    &__badge {
      font-size: 1.25rem;
    }
  }
}
