@import "../../public/styles/scss/app.scss";

.header {
  margin: 1.5rem;
  background: $blue;

  &__search {
    width: 0 !important;

    &:focus {
      width: 300px !important;
      transition: width 0.4s ease-in;
    }
  }

  .nav-item {
    padding-left: 10px;
    padding-right: 10px;

    a {
      &:hover {
        text-transform: uppercase;
        color: white !important; //lighten($blue, 30%);
        cursor: pointer;
      }
    }
  }

  #search-symbol {
    &:hover {
      cursor: pointer;
    }
  }

  span {
    height: 38px;
    white-space: nowrap;
  }
}
