@import "../../../../public/styles/scss/app.scss";

.item {
  margin: 10px !important;
}

.post {
  padding: 1.5rem;
  background-color: whitesmoke;
  border: 1px solid $grey;
  margin: 0.5rem 0;

  &__headline {
    display: flex;
    justify-content: space-between;
  }
}
