// Colors
$black: #212121;
$dark-blue: #303f9f;
$blue: #3f51b5;
$light-blue: #c5cae9;
$pink: #ff4081;
$grey: #727272;
$light-grey: #b6b6b6;

$link-color: $blue;
$link-hover-color: $grey;

//$border-focus: $blue;
$input-btn-focus-color: $blue;
$secondary-border-color: $blue;

// text
$primary-text: $black;
$light-text: $grey;
$loud-text: $black;
$inverse-text: $white;
$heading-text: $dark-blue;
