.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 4rem;

  &__commentFilters {
    padding-inline-start: 0;
    list-style-type: none;
  }

  &__siteFilters {
    padding-inline-start: 0;
    list-style-type: none;
  }
}
